html, body{
	margin:0;
	padding: 0;
	width: 100%;
}

header{
	width: 100%;
	min-height: 200px;
/*	background: url(./bg.jpg) no-repeat 50% 50%;
	background-size: cover;*/
	background-color: #111;
}


.logo{
	position: fixed;
	float: left;
	margin:16px 5%;
	color: #f39;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;

}

.logo a{
	text-decoration: none;
	color: #f39;
}

nav{
	position: fixed;
	width: 100%;
	z-index: 999;

}

nav ul{
	list-style: none;
	background: rgba(0,0,0,0);
	overflow: hidden;
	color: white;
	padding: 0;
	text-align: right;
	margin:0;
	transition:1s;
	padding-right: 5%; 
}

nav.black ul{
	background: #fff;
	box-shadow: -1px -7px 20px 0px #888;
}

nav ul li{
	display: inline-block;
	padding: 20px 15px;
}

nav ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #f39;
	font-size: 20px;
}

nav ul li a:hover,nav ul li a:active{
	text-decoration: none;
	color: #f12;

}

.menu-icon{
	width: 100%;
	background:#000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}

section{
	min-height: 420px;
}


.footer{
	height: 100px;
	line-height: 100px;
}

.jumbotron{
	background: url(../img/bg.png);
	background-size: cover;
	overflow: hidden;
	background-repeat: no-repeat;
	
}

.jumbotron img{
	border:5px solid #ddd;
	box-shadow: 4px 4px 10px rgba(0,0,0,.5)
}

.jumbotron h1, jumbotron p{
	text-shadow: 4px 4px 10px rgba(0,0,0,.5)
}

.portfolio{
	background-color: #eee;
}

.portfolio .card{
	opacity: 0;
	transform: translate(0px, -50px);
	transition: 1s;
}

.portfolio .card.muncul{
	opacity: 1;
	transform: translate(0,0);
}

.pkiri, .pkanan{
	opacity: 0;
	transform: translate(-50px,0);
	transition: 2s;
}

.pkanan{
	transform: translate(50px,0);
}

.pkiri.pmuncul, .pkanan.pmuncul{
	opacity: 1;
	transform: translate(0,0);
}

.contact{
	opacity: 0;
	transform: translate(0, 40px);
	transition: 2s;
}

.contact.cmuncul{
	opacity: 1;
	transform: translate(0,0);
}

@media(max-width: 600px){

	.logo{
		position: fixed;
		top: 0;
		margin-top: 16px;
	}
	nav ul{
		max-height: 0px;
		background: #000;
		margin: 0;
	}

	nav.black ul{
		background: #fff;
		box-shadow: -1px -7px 20px 0px #888;
	}

	.showing{
		max-height: 20em;
	}

	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}

	.menu-icon{
		display: block;
	}

	.jumbotron img{
	border:2px solid #ddd;
	box-shadow: 2px 2px 20px rgba(0,0,0,.2)
	}





}